<!-- list auth methods -->

@if(!loggedInUser){
@if(!!authMethods && authMethods.authProviders.length > 0) {
<section>
  <div class="grid">
    <button *ngFor="let provider of authMethods.authProviders" (click)="login(provider)">Login with {{
      provider.displayName }}</button>
  </div>
</section>
<section>
  <form (submit)="signup()">
    <fieldset role="group">
      <input [(ngModel)]="username" name="username" type="username" placeholder="Enter your username"
        autocomplete="username" />
      <input [(ngModel)]="password" name="password" type="password" placeholder="Enter your password"
        autocomplete="password" />
      <input class="secondary" type="submit" value="Login" />
    </fieldset>
  </form>
</section>
} @else {
<progress></progress>
}
}

<!-- Logged in as -->
<section>
  <div *ngIf="loggedInUser">
    <span>Logged in as: {{ loggedInUser['username'] }}</span>
  </div>
</section>

<!-- Logout button -->
<section>
  <button *ngIf="loggedInUser" (click)="logout()">Logout</button>
</section>

<!-- List users -->
<section>
  <h2>Users:</h2>
  @defer (when !!userRecords && userRecords.length > 0) {
  @for (user of userRecords; track $index) {
  <div>
    <span>{{ user.username }}</span>
  </div>
  }
  } @placeholder {
  <article aria-busy="true"></article>
  }
</section>